# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 234f4e412e9392dbf1a59a51ab5c1ae6ff10001a9d46497447c5b0b1440ed08c336cf40430893b45d3d87f848a89d0204c57238221a5f1b693420d45f12f5196

test:
  secret_key_base: d55ebd35278466d5e4613c1741dce66f41c0929c1de347367bb9bef7efc8b5e07ea70f8f0211a55fc66b7f2cc675cc34491c3b1d93c82a9da21c0638c4b0be25

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
